@font-face {
    font-family: 'DGTL-STENCIL';
    src: url("/fonts/DGTL-STENCIL.eot");
    src: url("/fonts/DGTL-STENCIL.eot?#iefix") format("embedded-opentype"), url("/fonts/DGTL-STENCIL.woff2") format("woff2"), url("/fonts/DGTL-STENCIL.woff") format("woff"), url("/fonts/DGTL-STENCIL.svg#DGTL-STENCIL") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-HeavyOblique.eot");
    src: url("/fonts/Avenir-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("/fonts/Avenir-HeavyOblique.woff2") format("woff2"), url("/fonts/Avenir-HeavyOblique.woff") format("woff"), url("/fonts/Avenir-HeavyOblique.ttf") format("truetype"), url("/fonts/Avenir-HeavyOblique.svg#Avenir-HeavyOblique") format("svg");
    font-style: italic
}

@font-face {
    font-family: 'Avenir';
    src: url("/fonts/Avenir-Roman.eot");
    src: url("/fonts/Avenir-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/Avenir-Roman.woff2") format("woff2"), url("/fonts/Avenir-Roman.woff") format("woff"), url("/fonts/Avenir-Roman.ttf") format("truetype"), url("/fonts/Avenir-Roman.svg#Avenir-Roman") format("svg");
    font-weight: normal;
    font-style: normal
}
