.chart-container {
	display: flex;
	margin-bottom: 5rem;
	margin-top: 5rem;
	flex-direction: row;
	justify-content: center;
	position: relative;
}

svg {
	padding: 1rem;
	margin: 0 auto;
	display: block;
	border: .325rem solid $color-lightest;
}

svg path {
	fill: none;
	stroke-width: .325rem;
	stroke: $color-primary;

	&.path__secondary {
		stroke: $color-secondary;
	}

	&.path__tertiary {
		stroke: $color-tertiary;
	}
}