<%- include ./parts/header.ejs %>

<div class="container nav">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<img src="/images/logo.png" alt="logo" class="img-responsive logo col-center">
		</div>
		<div class="col-xs-12 col-sm-4 col-md-9 col-lg-10 text-center">
			<h1>Personal dashboard</h1>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">

		</div>
	</div>
</div>
<main>
	<input type="hidden" data-id="<%= id %>"/>
	<div id="line-chart"></div>
</main>

<%- include ./parts/scripts.ejs %>
<%- include ./parts/footer.ejs %>